body{
    
    font-family: sans-serif;
    text-align: center;
    text-decoration: brown;
    text-transform: capitalize;

    background-image: url(../Paper-Rock-Scissors/img/wallpaper.png);
    background-size: contain;
}
.result{
    
    display: flex;
    width: 100%;
    height: 180px;
    border: solid black 1px;
    border-radius: 5px;
}
.player{

    border: solid black 1px;
    width: 120px;
    height: auto;
    
}
.yourplay{
    
    width: 120px;
    height: 120px;
    border: solid black 1px;

    background-image: url(../Paper-Rock-Scissors/img/rock.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.vs{
    position: relative;
    left: 13px;
    top: 50px;
    width: auto;
    height: 25px;

    text-align: justify;
    border: solid black 1px;
}
.computer{
    position: absolute;
    right: 7px;
   
    
    width: 120px;
    height: 180px;
    border: solid black 1px;
}
.computerplay{
    
    width: 120px;
    height: 120px;
    border: solid black 1px;

    background-image: url(../Paper-Rock-Scissors/img/rock.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.yourchoice{
    margin-top: 5px;
   
    display: flex;
    width: 100%;
    justify-content: space-around;
    border: solid black 1px;

   
}
.rock{
    background-image: url(../Paper-Rock-Scissors/img/rock.png);
    background-size: contain;
    background-repeat: no-repeat;

    border-right: solid black 1px;
    width: 120px;
    height: 120px;    
}
.paper{
    background-image: url(../Paper-Rock-Scissors/img/paper.png);
    background-size: contain;
    background-repeat: no-repeat;

    border-right: solid black 1px;
    width: 120px;
    height: 120px;
}
.scissors{
    background-image: url(../Paper-Rock-Scissors/img/scissors.png);
    background-size: contain;
    background-repeat: no-repeat;

    
    width: 120px;
    height: 120px;
}