body{
    
    font-family: sans-serif;
    text-align: center;
    color: white;
    text-transform: capitalize;

    background-image: url(../Paper-Rock-Scissors/img/wallpaper.png);
    background-size: contain;
}
.result{
    
    display: flex;
    width: 100%;
    height: 180px;
    
    border-radius: 5px;
}
.player{

    border: solid white 1px;
    width: auto;
    height: auto;
    
}

.yourplay{

    background-image: url(../Paper-Rock-Scissors/img/rock.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.vs{
    position: relative;
    left: 13px;
    top: 50px;
    width: auto;
    height: 25px;

    text-align: justify;
    
}
.computer{
    position: absolute;
    right: 7px;
   
    
    width: auto;
    height: auto;
    border: solid white 1px;
}
.computerplay{
    background-image: url(../Paper-Rock-Scissors/img/rock.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.yourchoice{
    margin-top: 8%;
   
    display: flex;
    width: 100%;
    justify-content: space-around;
    border: solid white 1px;

   
}
.rock{
    background-image: url(../Paper-Rock-Scissors/img/rock.png);
    background-size: contain;
    background-repeat: no-repeat;   
}
.paper{
    background-image: url(../Paper-Rock-Scissors/img/paper.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.scissors{
    background-image: url(../Paper-Rock-Scissors/img/scissors.png);
    background-size: contain;
    background-repeat: no-repeat;
}
#divP{
    border-right: solid white 1px;
    width: 120px;
    height: 120px;
}
footer {
        
    text-align: center;
    font-style: italic;
}  
@media only screen and (min-width: 600px){
    body {
        font: normal 15pt Arial;
    }
    
    header {
        text-align: center;
    }
    
    section {
        
        border-radius: 10px;
        padding: 15px;
        width: 700px;
        height: auto;
        margin: auto;
        box-shadow: 5px 5px 10p rgba(0, 0, 0, 0.322);
        border: solid white 1px;
    }
    .result{
        height: auto;
    }
    .computer{
        position: absolute;
        right: 400px;
    }
    #divP{
        border-right: solid white 1px;
        width: 150px;
        height: 150px;
    }
    .vs{        
        left: 25%;
    }
}